/* Style the tab */
.tab {
overflow: hidden;
border: 1px solid #ccc;
background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button, a {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
background-color: #ccc;
}

/* Basic Style */

body {
	background: #fff;
	color: #333;
	font-family: Lato, sans-serif;
	background-color:#e4e4e4;
}

/*TO DO LIST START*/

/*FROM TOGGLE CONTENT USED FOR LIST CONTENT*/
.tabcontent {
background-color:#fff;
display: none;
padding: 5px;
border: 1px solid #ccc;
border-top: none;
}

/*FROM TODO LIST*/

ul {
	margin: 0;
	padding: 0;
}
li * {
	float: left;
}


ul li {
	cursor: pointer;
	position: inherit;
	padding: 14px 16px;
	list-style-type: none;
	background: #eee;
	font-size: 18px;
	transition: 0.2s;
	
	/* make the list items unselectable */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
	background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
	background: #ddd;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
	background: #888;
	color: #fff;
	text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
	content: '';
	position: absolute;
	border-color: #fff;
	border-style: solid;
	border-width: 0 2px 2px 0;
	top: 10px;
	left: 16px;
	transform: rotate(45deg);
	height: 15px;
	width: 7px;
  }
  
  /* Style the close button */
  .close {
	display:inline-table;
	padding: 5px;
	float: left;
  }
  
  .close:hover {
	background-color: #f0b3f0;
	color: white;
  }

  /* Style the input */
input {
	margin: 0;
	border: none;
	border-radius: 0;
	width: 20%;
	padding: 10px;
	float: left;
	font-size: 16px;
  }
 
  
  /* Style the "Add" button */
  .addBtn {
	padding: 10px;
	width: 15%;
	background: #d9d9d9;
	color: #555;
	float: left;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s;
	border-radius: 0;
  }
  
  .addBtn:hover {
	background-color: #bbb;
  }
  